$mainColor: rgb(193, 78, 51);

$hoverColor: rgb(206, 113, 92);
$activeColor: rgb(193, 78, 51);
$unActiveColor: rgb(192, 201, 227);

$headrBackgroundColor: #252525;

$backgroundApp: #252525;

$enterColorA: rgb(193, 78, 51);
$enterColorB: rgb(175, 71, 47);
$enterHoverColor: rgb(226, 123, 100);

$enterBackgroundWhite: #f5f5f5;


$backgroundMenuButton: #1b1b1b;
$backgroundMenuButtonHover: rgb(150, 77, 61);
